<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD_jDcPI4IKuUamZvTbIqpc1WnQkHJ22Nk</string>
	<key>GCM_SENDER_ID</key>
	<string>138087496034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healmanMentalAwareness</string>
	<key>PROJECT_ID</key>
	<string>mentalawareness-healman</string>
	<key>STORAGE_BUCKET</key>
	<string>mentalawareness-healman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138087496034:ios:57c950151673a9ccc1943b</string>
</dict>
</plist>